[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
argcomplete = "==1.10.3"
colorama = "==0.4.1"
idna = "==2.8"
multidict = "==4.6.1"
pyapp = "==4.0.6"
yarl = "==1.4.2"
requests = "*"
websocket = "*"

[requires]
python_version = "3.6"
